# CSILSPGenerator

In [1]:
import CSILSPGenerator as gen

## Generazione istanza CSILSP

In [2]:
instance = gen.Generator(T=10)

In [3]:
# generazione con default bounds [1,6] sulle variabili
instance.generate()

In [4]:
instance.printData()

   d   C  h  p  s
T
0  4   5  6  1  2
1  6   8  3  3  6
2  3   4  5  1  6
3  2   4  6  1  6
4  6  11  4  3  3
5  2   3  3  5  1
6  3   4  1  1  1
7  2   5  1  3  6
8  1   4  4  1  5
9  6   6  6  2  1

In [5]:
# generazione con bounds espliciti
instance.generate(a=10,b=12)

In [6]:
instance.printData()

    d   C   h   p   s
T
0  11  21  11  11  10
1  10  12  12  12  12
2  11  12  10  11  10
3  10  10  12  10  11
4  10  11  12  12  10
5  11  21  10  12  12
6  10  12  10  10  12
7  11  21  10  10  12
8  10  10  10  10  12
9  12  23  12  10  12

## Generazione istanza CSILSP con Time Windows CS

In [7]:
instancetw = gen.GeneratorTW_CS(T=10)

In [8]:
instancetw.generate()

In [9]:
instancetw.printData()

      d     C  h  p  s
T
0   0.0  70.0  6  5  1
1   2.0  68.0  4  2  6
2   8.0  69.0  3  1  1
3   5.0  60.0  6  3  6
4  10.0  62.0  5  6  5
5  15.0  59.0  2  3  6
6  17.0  58.0  4  4  1
7  20.0   3.0  6  1  3
8  20.0   4.0  6  3  6
9  19.0   3.0  3  1  5

In [10]:
instancetw.generate(a=10,b=12,dw_a=0,dw_b=10)

In [11]:
instancetw.printData()

      d     C   h   p   s
T
0   0.0  69.0  11  11  12
1   5.0  70.0  11  12  12
2  11.0  70.0  12  12  12
3  17.0  71.0  12  10  10
4  26.0  69.0  10  11  11
5  24.0  71.0  11  11  11
6  42.0  73.0  10  11  12
7  28.0  73.0  11  12  10
8  47.0  71.0  11  11  12
9  43.0  72.0  10  10  11

## Generazione istanza CSILSP con Time Windows NCS

In [12]:
instancetw4 = gen.GeneratorTW_NCS(T=4)

In [13]:
instancetw4.generate()

In [14]:
instancetw4.printData()

     d  C  h  p  s
T
0  0.0  1  4  3  2
1  0.0  1  3  2  6
2  0.0  5  2  1  5
3  7.0  2  1  2  6